<div class="dont-forget" id="dont-forget">
  <ul class="dont-forget flexcol">
    {{#each reminders}}
      <li class="flexrow" data-reminder-id="{{id}}">
        <input
          type="checkbox"
          name="{{id}}.isDone"
          id="{{id}}.isDone"
          title="{{localize 'DONT-FORGET.mark-done'}}"
          class="dont-forget-popup checkbox"
          data-dtype="Boolean"
          {{checked isDone}}
        />

        <input
          type="text"
          value="{{label}}"
          name="{{id}}.label"
          id="{{id}}.label"
          data-dtype="String"
          class="dont-forget-popup input"
        />

        <button
          type="button"
          title="{{localize 'DONT-FORGET.delete-reminder'}}"
          data-action="delete"
          class="flex0 dont-forget-icon-button delete"
        >
          <i class="fas fa-trash"></i>
        </button>
      </li>
    {{/each}}
  </ul>

  <button
    type="button"
    data-action="create"
    class="flex0 dont-forget-icon-button create"
  ><i class="fas fa-plus"></i>{{localize "DONT-FORGET.add-reminder"}}</button>
</div>